KEY_POSTGRES_PORT=5432
KEY_POSTGRES_DATABASE_NAME=prisma
KEY_POSTGRES_USER=YOUR_USER
KEY_POSTGRES_PASSWORD=YOUR_PaSSWORD
JWT_SECRET=SEU_TOKEN_SEGURO
TIME_EXPIRATION_DTO=7200
CORS_ALLOWED_ORIGINS="http://localhost:3000,http://localhost"
