KEY_POSTGRES_PORT=5432
KEY_POSTGRES_DATABASE_NAME=prisma
KEY_POSTGRES_USER=kauezao
KEY_POSTGRES_PASSWORD=Kaue2904*
JWT_SECRET=75bd8754cc483722361941302f1bf839
TIME_EXPIRATION_DTO=7200
CORS_ALLOWED_ORIGINS="http://localhost:3000,http://localhost"
